@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap');

// Fonts
$Fraunces: 'Fraunces', serif;
$Barlow: 'Barlow', sans-serif;

// Colors
$soft-red: hsl(7, 99%, 70%);
$yellow: hsl(51, 100%, 49%);
$desaturated-cyan: hsl(167, 40%, 24%);
$dark-blue: hsl(198, 62%, 26%);
$dark-cyan: hsl(168, 34%, 41%);

$desaturated-blue: hsl(212, 27%, 19%);
$very-dark-grayish-blue: hsl(213, 9%, 39%);
$dark-grayish-blue: hsl(232, 10%, 55%);
$grayish-blue: hsl(210, 4%, 67%);
$white: hsl(0, 0%, 100%);

html,
body {
  font-family: $Barlow;
  font-weight: 600;
}

.landing {
  color: $white;
  height: 100vh;
  background: url('../images/mobile/image-header.jpg') no-repeat center;
  background-size: cover;

  display: flex;
  flex-direction: column;
  padding: 1.5rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo{
    img{
      filter: invert(99%) sepia(0%) saturate(1811%) hue-rotate(41deg) brightness(118%) contrast(98%);
    }
  }
}
.nav {
  position: relative;
  align-self: end;
  ul {
    transform: scale(0);
    transform-origin:top right;
    transition: all .25s ease-in-out;
    top: 4rem;
    right: 0;
    position: absolute;
    width: calc(100vw - 3rem);
    background: $white;
    color: $dark-grayish-blue;
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    align-items: center;
    &::after{
      content: "";
      background: $white;
      position: absolute;
      width: 1.5rem;
      height: 1.5rem;
      top: -1.5rem;
      right: 0;
      clip-path: polygon(100% 0, 0 100%, 100% 100%);
    }

    &.active{
        transform: scale(1)!important;
    }
    li{
      padding: 1rem 2rem;
      margin: 1rem 0;
      &:nth-child(4){
        font-family: $Fraunces;
        color: $desaturated-blue;
        text-transform: uppercase;
        background: $yellow;
        border-radius: 2rem;
      }
    }
  }
}

.landing-content {
  display: flex;
  padding-top: 18vh;
  flex-direction: column;
  align-items: center;
  height: 100%;
  text-align: center;
  h1 {
    padding: 3rem 0;
    font-family: $Fraunces;
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 900;
    letter-spacing: 0.25rem;
  }
}

.about {
  display: flex;
  flex-direction: column;
}
.about-img-only {
  height: 375px;
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
.about-text-only {
  height: 400px;
  text-align: center;
  padding: 2rem 1.5rem;
  color: $dark-grayish-blue;

  h3 {
    padding: 1rem 0;
    font-family: $Fraunces;
    font-weight: 900;
    font-size: 2rem;
    color: $desaturated-blue;
  }
  a {
    display: inline-flex;
    padding-top: 2rem;
    font-family: $Fraunces;
    font-weight: 900;
    color: $desaturated-blue;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    z-index: 2;
    &::before{
      content: "";
      z-index: -1;
      position: absolute;
      top: 85%;
      width: 110%;
      left: -5%;
      height: 20%;
      border-radius: 15px;
    }
  }
}

.about-card-and-image {
  height: 600px;
  position: relative;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .content {
    padding: 2rem 1.5rem;
    position: absolute;
    top: 55%;
    text-align: center;
    h3 {
      padding: 1rem 0;
      font-family: $Fraunces;
      font-weight: 900;
      font-size: 1.5rem;
      color: $desaturated-cyan;
    }

    p{
      color: $desaturated-cyan;
    }
  }
}

#transform-text{
  a{
    &::before{
      background: lighten($yellow,40%);
    }
  }
}

#stand-out-text{
  a{
    &::before{
      background: lighten($soft-red,20%);
    }
  }
}

.testimonials{
  padding: 2rem 1.5rem;
  text-align: center;
  h2{
    font-size: 1rem;
    font-family: $Fraunces;
    text-transform: uppercase;
    letter-spacing: .2rem;
    color: $grayish-blue;
  }
  .card{
    padding: 1rem 0;
    img{
      margin: 2rem 0;
      height: 4rem;
      border-radius: 50%;
    }
    p{
      color: $very-dark-grayish-blue;
      line-height: 1.7rem;
    }
    span{
      display: inline-block;
      padding-top: 2rem;
      h4{
        font-family: $Fraunces;
        color: $desaturated-blue;
      }
      p{
        font-size: .75rem;
        color: $grayish-blue;
      }
    }

  }
}

.footer-img-gallery{
  display: flex;
  flex-wrap: wrap;
  picture{
    width: 50vw;
    img{
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}

.footer{
  padding: 2rem 1rem;
  background: lighten($dark-cyan,30%);
  color: $dark-cyan;
  display: flex;
  flex-direction: column;
  align-items: center;

  .logo{
    filter: invert(35%) sepia(47%) saturate(458%) hue-rotate(118deg) brightness(101%) contrast(94%);
  }
}

.footer-nav{
  max-width: 375px;
  width: 100%;
  ul{
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
  }
}

.social-links{
  max-width: 300px;
  width: 75%;
  ul{
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    li{
      img{
        filter: invert(35%) sepia(47%) saturate(458%) hue-rotate(118deg) brightness(101%) contrast(94%);
      }
    }
  }
}

@media only screen and (min-width: 769px){
  .landing{
    background: url('../images/desktop/image-header.jpg') no-repeat center;
    background-size: cover;
  }

  .logo{
    width: 10vw;
    img{
      width: 100%;
    }
  }
  .landing-content{
    padding-top: unset;
    h1{
      padding: 4rem 0 6rem;
    }
  }
  .nav{
    .nav-burger{
      display: none;
    }
    ul{
      all: unset;
      display: flex;
      flex-direction: row;
      list-style-type: none;
      &::after{
        all: unset;
      }

      li{
        padding: 1rem 2rem;
        margin: unset;
        &:nth-child(4){
          background: $white;
          transition: all .1s ease-in;
          &:hover{
            cursor: pointer;
            background: rgba(255,255,255,0.3);
            color: $white;
          }
        }
      }
    }
  }

  .about{
    flex-direction: row;
    flex-wrap: wrap;
  }
  .about-card{
    height: auto;
    width: 50%;
    order: 6;
    &:nth-child(2){
      order: 1;
    }
  }
  .about-text-only {
    padding:15% 5% 0;
  }

  .about-card-and-image {
    .content {
      padding: 2rem 5%;
      top: 55%;
    }
  }

  #transform-text{
    a{
      &::before{
        transition: all .2s ease-in-out;
      }
      &:hover::before{
          background: lighten($yellow,10%);

      }
    }
  }
  
  #stand-out-text{
    a{
      &::before{
        transition: all .2s ease-in-out;
      }
      &:hover{
        cursor: pointer;
      }
      &:hover::before{
        
          background: $soft-red;

      }
    }
  }
  .testimonial-wrapper{
    display: flex;
    flex-direction: row;
    .card{
      margin: 1rem;
    }
  }
  .footer{
    height: 40vh;
    justify-content: center;

    .logo{
      width: 10vw;
      padding: 1rem 0;
    }
  }
  .footer-img-gallery{
    display: flex;
    flex-wrap: wrap;
    picture{
      width: 25%;

    }
  }
  .footer-nav{
    ul{
      li:hover{
        
        cursor: pointer;
        color: white;
      }
    }
  }
  
  .social-links{
    padding-top: 2rem;
    ul{
      li{
        img:hover{
          cursor: pointer;
          filter: invert(99%) sepia(0%) saturate(1811%) hue-rotate(41deg) brightness(118%) contrast(98%);
        }
      }
    }
  }
}