@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap');

// Fonts
$Fraunces: 'Fraunces', serif;
$Barlow: 'Barlow', sans-serif;

html, body{
    font-family: $Barlow;
    font-weight: 600;
}